---
interface Props {
  imageUrl: string;
  title: string;
  category: string;
  url?: string;
  size?: string;
  featured?: boolean;
}

const { imageUrl, title, category, url, size = "1", featured = false } = Astro.props;
---

<style>
  .sketch {
    padding: 1rem 2rem;
    width: 222px;
    height: 333px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .featured {
    box-shadow:
      0 8px 32px rgba(173, 255, 47, 0.2),
      0 4px 64px rgba(173, 255, 47, 0.1);
    overflow: visible;
  }

  em,
  a {
    text-decoration: none;
  }

  a {
    display: inline-block;
    width: fit-content;
    height: fit-content;
  }
</style>

{
  url && (
    <a href={url}>
      <div class={`sketch ${featured ? "featured" : ""}`} data-size={size} style={`background-image: url(${imageUrl});`}>
        <div class="sketch-info">
          <p>{title}</p>
          <em>{category}</em>
        </div>
      </div>
    </a>
  )
}
